{% extends "buddhalayout.html" %}
{% block content %}
<center><h2>Buddhism as a strategy for self discipline and ethics</h2></center>
<blockquote style="font-family:monspace"><p>"Zen Buddhism tell us that there is "nothing to attain." We meditate not to attain enlightenment, because enlightenment is already in us. We don't have to search anywhere. We don't need a purpose or a goal. We don't practice in order to obtain some high position. In purposelessness, we see that we do not lack anything, that we already are what we want to become, and our striving just comes to a halt. We are at peace in the present moment..."</p><footer>~ Thích Nhất Hạnh, <cite><u>The Heart of the Buddha's Teaching</u></cite></footer>
</blockquote>

<blockquote style="font-family:monspace"><p>"Stop trying to be so comfortable all the time. Stop trying to control everything, including your emotions. If you are uncomfortable, then be uncomfortable. Just be, however you are feeling at that moment."</p><footer><cite>~ Dragos Bernat</cite></footer></blockquote>

<blockquote style="font-family:monspace"><p>"I dont see a single thing that when left untamed leads to such great harm as the Mind. <br>I dont see a single thing that when tamed leads to such great benefit as the Mind"</p><footer>~ Siddhārtha Gautama, <cite><u>Anguttara Nikaya</u></cite></footer>
</blockquote>








{% endblock content %}