{% extends "layout2.html" %}
{% block content %}
<center><h2>General Fearlessness of Death</h2></center>
<center><blockquote style="font-family:monspace"><p>"The fool worries himself with feelings of attachment. 'I have sons, I have wealth,'; with this the fool is afflicted. He himself is not his own, how can sons and wealth be his?</p></blockquote></center>
<center><video controls loop autoplay playsinline height="55%" width="90%">
  <source src="/static/videos/Death.mp4" type="video/mp4">
  </video></center>

<p style="text-indent: 40px">As an optimistic nihilist, I do not find the notion of death to be particularly distressing. I find this outlook to be advantageous at times as it pertains to specific aspects of my life. This fearlessness ranges from a <b>Reckless Disregard</b>. <ul><li> Administering research drugs that have only been studied in test tubes (e.g. <a href="https://www.musclerage.co.uk/supplements-blog/is-yk-11-actually-a-sarm/">YK-11</a>).</li><li>Administering hallucinogens (i.e. Psychedelics, Dissociatives, and Deliriants). In an attempt to have more intense experiences as a life long Psychonaut. This can be particularly dangerous with Deliriants(e.g. <a href="https://psychonautwiki.org/wiki/Datura#Hallucinatory_states">Datura</a>
or even high dosages of <a href="https://psychonautwiki.org/wiki/Diphenhydramine#Hallucinatory_states">Benadryl</a>) </li></ul> <b>to a willingness to engage in high risk behaviors that potentially have beneficial outcomes.</b> For example, accumulating copious amounts of student loan debt because I don't desire to live a long life, I don't even bother to consider the long term ramifications of my behavior. I am adept in financial planning and management. Yet my complete lack of interest in the American Dream prevents me from working hard and managing my money in a manner that would have enriched my live over the years.</li> </p>

<blockquote style="font-family:monspace"><p><b>
"What if I told you insanity is working fifty hours a week in some office for fifty years, at the end of which they tell you to piss off. Then ending up in some retirement village hoping to die before suffering the indignity of trying to make it to the toilet on time? Wouldn't you consider that to be insane?</b>
</p></blockquote>

<center><img src="/static/images/whatif.jpg"alt="Fargo" width="300" height="399"></center>
<center><h1><b><u>Solutions:</u></b></h1></center>
<hr>



<p style="text-indent: 40px">However, as fatherhood approaches there is a primal drive to be a better person for my son and be the father I never had. Thus, I will follow a framework based off of the <b>virtue ethics</b> that I have studied for years in works of Eastern philosophy including <a href="http://www.buddhanet.net/pdf_file/scrndhamma.pdf">Buddhist Scriptures</a>,
<a href="http://www.with.org/tao_te_ching_en.pdf">Taoist texts</a>, and 
<a href="https://terebess.hu/english/AlanWatts-The%20Way%20of%20Zen.pdf">Zen literature</a>. I am hoping to follow a system such as the Noble Eightfold Path which involves avoiding intoxicants, being kind, helping others, not lying, practicing meditation etc. will improve my daily functioning in a way that is conducive to a better life for me and my family. The first thing I must master is distress tolerance. I'm used to handling distressing emotions by using substances. The bright side of this month of sobriety is I've noticed I'm not experiencing feelings of ill-will towards others. Also, I'm not acting recklessly in public leading me to believe that the disinhibition I experienced on GABAergic substances had a stronger effect on my personality and actions then I realized.   
</p>

<center><h3>Handling Emotional Distress</h3></center>
<center><blockquote style="font-family:monspace"><p>"Stop trying to be so comfortable all the time. Stop trying to control everything, including your emotions. If you are uncomfortable, then be uncomfortable. Just be, however you are feeling at that moment."</p><footer><cite>~ Dragos Bernat</cite></footer></blockquote></center>



<center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Falex.kumm.3%2Fvideos%2F175307520130468%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></center>
{% endblock content %}